Atividade administrativa
<div>
    <div>Função/cargo: <%= administrative_activity.title %></div>
    <div>Instituição/orgão: <%= administrative_activity.institution %></div>
    <% unless administrative_activity.date.blank? %><div>Início: <%= post_date administrative_activity.date %></div><% end %>
    <% unless administrative_activity.end_date.blank? %><div>Fim: <%= post_date administrative_activity.end_date %></div><% end %>
</div>
