Pesquisa
<div>
    <div>Tipo: <%= research.subtype %></div>
    <% if research.title %><div>Título: <%= research.title %></div><% end %>
    <% if research.date %><div>Início: <%= research.date %></div><% end %>
    <% if research.end_date %><div>Fim: <%= research.end_date %></div><% end %>
</div>
