inseriu um prêmio/distinção:
<div>
    <span><%= degree.title %></span><br />
    <span>Status: <%= degree.status %></span><br />
    <% if degree.date %><span>Em <%= degree.date %></span><br /><% end %>
    <% if degree.institution %><span>Instituição: <%= degree.institution %></span><br /><% end %>
</div>

