Prêmio/distinção
<div>
    <div><%= award.status %>: <%= award.text %></div>
    <% if award.institution %><div>Instituição: <%= award.institution %></div><% end %>
    <% if award.date %><div>Em: <%= award.date %></div><% end %>
</div>
